*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f4f4f4;
color:#333;
}

header{
background:#1e3a8a;
padding:15px;
position:sticky;
top:0;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
width:90%;
margin:auto;
}

nav h2{
color:white;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:20px;
}

nav ul li a{
color:white;
text-decoration:none;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:linear-gradient(to right,#2563eb,#3b82f6);
color:white;
text-align:center;
}

.hero span{
color:yellow;
}

button{
margin-top:20px;
padding:12px 25px;
border:none;
background:white;
color:#2563eb;
font-weight:bold;
cursor:pointer;
border-radius:5px;
}

section{
padding:70px 10%;
}

h2{
margin-bottom:20px;
text-align:center;
}

.card{
background:white;
padding:20px;
margin:20px auto;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
}

.skills{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:15px;
}

.skills span{
background:#2563eb;
color:white;
padding:10px 20px;
border-radius:20px;
}

footer{
background:#1e3a8a;
color:white;
text-align:center;
padding:20px;
}
